<div style="text-align:center">
  <h1>
    Affichage de la Map
  </h1>
</div>
 
<!-- Déclaration du conteneur de la carte avec l'id "map" -->
<div id="map"></div>


<div class="form-group">

  <label for=""><h4>Entrez votre adresse et cliquez sur le boutton</h4></label><br>
  <button type="submit" (click)="getAdress();">Chercher</button>
  <input type="text"
    class="form-control" name="" id="" aria-describedby="helpId" placeholder="" [(ngModel)]="adresse">
    <div *ngIf="isclicked">
    <h4>Resultat de la recherche</h4>
    <ng-container *ngIf="adresseData.length>0; else elseTemplate">
      <span *ngFor="let item of adresseData; index as i">
        <a href='#' (click)= "chooseAdress(i);">{{i+1}} - {{adresseData[i].display_name}}</a><br>
      </span>
      
    </ng-container>
    <ng-template #elseTemplate>
      <p>adresse intouvable, réessayer en tappant le nom de votre ville </p>
    </ng-template>
  </div>
    
    
  
</div>


<router-outlet></router-outlet>
